@import "src/css-file.css";
@import "src/css-file-once.css";
@import "src/css-file-once.css";
@import "src/css-file-multiple.css";
@import "src/css-file-multiple.css";
.orginal-rules {
  text-align: center;
}
/*
  使用@import导入文件时的解析原则：
  (1) 没有扩展名：作为less文件，先解析再导入合并
  (2) 有扩展名.less：作为less文件，先解析再导入合并
  (3) 有扩展名.css：作为css文件，直接导入合并
  (4) 有其他扩展名：作为less文件，先解析再导入合并
*/
.less-file-1 {
  color: red;
}
.less-file-2 {
  color: red;
  text-align: center;
}
.php-file {
  position: relative;
}
/*
  使用@import导入文件时的keyword：
  语法：@import (keyword) "filepath";

  keyword集合：
    reference：引用less文件，但不输出（主要用于从指定库中拉取必要的样式）
    inline：在输出中包含源文件，但不加工它
    once：只导入一次（默认行为）
    multiple：导入多次
    less：作为less文件对象，忽略扩展名
    css：作为css文件对象，忽略扩展名
*/
/* 测试 reference 关键字 */
.test-if-use-make-position-compiled,
.extend-use-make-position-again,
.extend-use-make-position-finally {
  position: absolute;
}
.test-if-mixin-make-display-compiled {
  display: block;
  padding: 5px;
}
.town,
.town .tree,
.town .lawn {
  display: block;
  color: #00A000;
}
.town:hover,
.town .tree:hover,
.town .lawn:hover {
  position: fixed;
  color: #35FBFF;
}
.town .lights:hover {
  color: #ff3300;
}
.town div,
.town span {
  float: left;
}
.town .test-1 {
  margin: 20px;
  padding: 30px;
}
.town .test-2 {
  top: 20px;
  left: 30px;
}
.use-make-position-again {
  position: relative;
}
.use-make-border-again {
  border: 2px solid #bb1100;
}
.mixin-make-float {
  float: right;
  font-size: 1em;
}
.test-sequence {
  text-align: center;
}
.mixin-make-display-again {
  display: block;
  margin: 10px;
}
.mixin-make-float-again {
  float: right;
  font-style: normal;
}
.use-make-position-finally {
  position: inherit;
}
/* 测试 inline 关键字 */
.css-file-inline .hacks {
    background-color: red \0; /* ie 8/9*/
    background-color: blue \9 \0; /* ie 9*/
    *background-color: yellow; /* ie 7*/
    _background-color: green; /* ie 6*/
}
.less-file-inline .hacks {
  background-color: red \0; /* ie 8/9*/
  background-color: blue \9 \0; /* ie 9*/
  *background-color: yellow; /* ie 7*/
  _background-color: green; /* ie 6*/
}
/* 测试 once 关键字 */
.less-file-once {
  color: yellow;
}
.css-file-once {
  color: yellow;
}
/* 测试 multiple 关键字 */
.less-file-multiple {
  color: green;
}
.less-file-multiple {
  color: green;
}
